package {{ .Packeganame }}

func (c {{ .StrName }}) StructToMap() map[string]interface{} {
	out := make(map[string]interface{})
    {{- range $value := .Fff }}
    out["{{ $value }}"] = c.{{ $value }}
    {{- end }} 
    return out
}

